@{
    ViewBag.Title = "chitietanh1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link href="~/Content/Style.css" rel="stylesheet" />
<div class="spn11">
      <div class="tc1">
          <img src="~/Images/nha.png" class="nha2" />
          <div class="duongdantrangchu">Trang Chủ</div>
          <img src="~/Images/muiten.png" class="muiten" />
          <div class="sanphamnam">Sản phẩm nam</div>
          <img src="~/Images/muiten.png" class="muiten" />
          <div class="quanao"><strong>Quần áo</strong></div>
       </div>
    </div>
<div class="cta1">
          <a href="#"><img src="~/Images/a411.png" class="a411" /></a>
          <a href="#"><img src="~/Images/a412.png" class="a412" /></a>
          <a href="#"><img src="~/Images/a413.png" class="a413" /></a>
          <a href="#"><img src="~/Images/a414.png" class="a414" /></a>
</div>
<div class="cta2">
            <img src="~/Images/a41.png" class="a41" />
</div>
<div class="cta3">
            <div class="cta31"><strong>Áo Sơ Mi Nam Gucci</strong></div>
            <div class="cta32"><strong>Giá bán :</strong></div>
            <div class="cta33"><strong>14,250,000</strong></div>
</div>
<div class="cta4">
    <div class="cta41"><strong class="cta411">Mã số:   </strong> 06S05VBLK </div>
    <div class="cta42"><strong>Chọn kích cỡ:</strong></div> 
     <div class="cta421"><strong>SLM</strong></div> 
    <div class="cta43"><strong class=cta431>SLM</strong></div>
     <div class="cta44"><strong>MED</strong></div>
    <div class="cta44"><strong>LGE</strong></div>
    <div class="cta44"><strong>XLG</strong></div>
    <div class="cta44"><strong>XXL</strong></div>
    <a href="#" class="cta45"><strong>Hướng dẫn kích cỡ</strong></a>
    <div class="cta46"><strong>Chọn theo màu: Đen</strong></div>
    <button class="cta461"><strong class="cta4611">Đặt mua</strong></button>
    <input class="cta462" type="radio" /><p class="mauden">Màu đen</p>
     <input class="cta462" type="radio" /><p class="mauden">Màu nâu</p> 
    <input class="cta462" type="radio" /><p class="mauden">Màu xám</p>
    <div class="cta47"><strong>Số lượng:</strong></div>
    <select class="cta471">
        <option>1</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
    </select>
   <button class="cta48" style="margin-top:10px">Thông tin sản phẩm</button>
   <button class="cta48">Thông tin sản phẩm</button>
   <button class="cta48">Thông tin sản phẩm</button>
    <div class="cta49">  <div class="cta491">  Áo sơ mi nam,sọc caro,tay dài,73% cotton.<br />
        *Tay dài.<br />
        *Logo Love Moschino thêu trên túi áo<br />
        *Lai bầu<br />
        *Áo dài khoảng 74cm-tay dài khoảng 66cm.<br />
        *Size mầu L<br />
        *73% cotton-24% nylon-3% thun.<br />
        * Hàng nhập khẩu.<br />
        *Bộ sưu tập : Xuân/Hè 2011
        <div style="color:red;">*Chú ý: Xin vui lòng đọc quy định đổi trả trước khi mua.</div>
        </div>
    </div>
</div>
<div class="sanphamuathichtheokem"><strong>Sản phẩm ưa thích theo kèm</strong></div>
<div class="cta5">
            <div class="cta51">
                        <a href="#"><img src="~/Images/a42.png" /></a>
                        <div class="john">Áo Sơ Mi Nam John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>
                <div class="cta51">
                        <a href="#"><img src="~/Images/a43.png" /></a>
                        <div class="john">Áo Sơ Mi Nam John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>        
        <div class="cta51">
                        <a href="#"><img src="~/Images/a44.png" /></a>
                        <div class="john">Áo Sơ Mi Nam John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>        
        <div class="cta51">
                        <a href="#"><img src="~/Images/a45.png" /></a>
                        <div class="john">Áo Sơ Mi Nam John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>      
          <div class="cta51">
                        <a href="#"><img src="~/Images/a46.png" /></a>
                        <div class="john">Áo Sơ Mi Nam John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>  
 </div>
<div class="sanphamdaxem"><strong>Sản phẩm đã xem</strong></div>
<div class="cta6">
            <div class="cta51">
                        <a href="#"><img src="~/Images/a47.png" /></a>
                        <div class="john">Áo Sơ Mi Nam John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>
                <div class="cta51">
                        <a href="#"><img src="~/Images/a48.png" /></a>
                        <div class="john">Áo Sơ Mi Nam John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>        
        <div class="cta51">
                        <a href="#"><img src="~/Images/a49.png" /></a>
                        <div class="john">Áo Sơ Mi Nam John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>        
        <div class="cta51">
                        <a href="#"><img src="~/Images/a491.png" /></a>
                        <div class="john">Áo Sơ Mi Nam John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>      
          <div class="cta51">
                        <a href="#"><img src="~/Images/a492.png" /></a>
                        <div class="john">Áo Sơ Mi Nam John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>  
    </div>




