@{
    ViewBag.Title = "chitietphukien";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="spn11">
      <div class="tc1">
          <img src="~/Images/nha.png" class="nha2" />
          <div class="duongdantrangchu">Trang Chủ</div>
          <img src="~/Images/muiten.png" class="muiten" />
          <div class="quanao"><strong>Túi xách</strong></div>
       </div>
    </div>
<div class="cta1">
          <a href="#"><img src="~/Images/apk1.png" class="a411" /></a>
          <a href="#"><img src="~/Images/apk2.png" class="a412" /></a>
          <a href="#"><img src="~/Images/apk3.png" class="a413" /></a>
          <a href="#"><img src="~/Images/apk4.png" class="a414" /></a>
</div>
<div class="cta2">
            <img src="~/Images/achitietphukien.png" class="a41" />
</div>
<div class="cta3">
            <div class="cta31"><strong>Ví Da Nữ Gucci</strong></div>
            <div class="cta32"><strong>Giá bán :</strong></div>
            <div class="cta33"><strong>14,250,000</strong></div>
</div>
<div class="cta4">
    <div class="cta41"><strong class="cta411">Mã số:   </strong> 06S05VBLK </div>
    <div class="cta42"><strong>Chọn kích cỡ:</strong></div> 
     <div class="cta421"><strong>SLM</strong></div> 
    <div class="cta43"><strong class=cta431>SLM</strong></div>
     <div class="cta44"><strong>MED</strong></div>
    <div class="cta44"><strong>LGE</strong></div>
    <div class="cta44"><strong>XLG</strong></div>
    <div class="cta44"><strong>XXL</strong></div>
    <a href="#" class="cta45"><strong>Hướng dẫn kích cỡ</strong></a>
    <div class="cta46"><strong>Chọn theo màu: Đỏ</strong></div>
    <button class="cta461"><strong class="cta4611">Đặt mua</strong></button>
    <input class="cta462" type="radio" /><p class="mauden">Màu đen</p>
     <input class="cta462" type="radio" /><p class="mauden">Màu đỏ</p> 
    <input class="cta462" type="radio" /><p class="mauden">Màu xám</p>
    <div class="cta47"><strong>Số lượng:</strong></div>
    <select class="cta471">
        <option>1</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
    </select>
   <button class="cta48" style="margin-top:10px">Thông tin sản phẩm</button>
   <button class="cta48">Thông tin sản phẩm</button>
   <button class="cta48">Thông tin sản phẩm</button>
    <div class="cta49">  <div class="cta491">  Ví da nữ,73% cotton.<br />
        *Da cao cấp.<br />
        *Logo Love Moschino in bên ngoài<br />
        *Lai bầu<br />
        *Túi dài khoảng 24cm-rộng khoảng 16cm.<br />
        *Size mầu L<br />
        *73% cotton-24% nylon-3% thun.<br />
        * Hàng nhập khẩu.<br />
        *Bộ sưu tập : Xuân/Hè 2011
        <div style="color:red;">*Chú ý: Xin vui lòng đọc quy định đổi trả trước khi mua.</div>
        </div>
    </div>
</div>
<div class="sanphamuathichtheokem"><strong>Sản phẩm ưa thích theo kèm</strong></div>
<div class="cta5">
            <div class="cta51">
                        <a href="#"><img src="~/Images/apk5.png" /></a>
                        <div class="john">Túi Xách Nữ John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>
                <div class="cta51">
                        <a href="#"><img src="~/Images/apk6.png" /></a>
                        <div class="john">Móc Khóa Cucci<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>        
        <div class="cta51">
                        <a href="#"><img src="~/Images/apk7.png" /></a>
                        <div class="john">Dây Lưng Tommy<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>        
        <div class="cta51">
                        <a href="#"><img src="~/Images/apk8.png" /></a>
                        <div class="john">Dây Lưng John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>      
          <div class="cta51">
                        <a href="#"><img src="~/Images/apk9.png" /></a>
                        <div class="john">Mũ Phớt LO<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>  
 </div>
<div class="sanphamdaxem"><strong>Sản phẩm đã xem</strong></div>
<div class="cta6">
            <div class="cta51">
                        <a href="#"><img src="~/Images/apk10.png" /></a>
                        <div class="john">Kính John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>
                <div class="cta51">
                        <a href="#"><img src="~/Images/apk11.png" /></a>
                        <div class="john">Dây Lưng Rene<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>        
        <div class="cta51">
                        <a href="#"><img src="~/Images/apk12.png" /></a>
                        <div class="john">Dây Lưng Toy<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>        
        <div class="cta51">
                        <a href="#"><img src="~/Images/apk13.png" /></a>
                        <div class="john">Đồng Hồ S-Shock <br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>      
          <div class="cta51">
                        <a href="#"><img src="~/Images/apk14.png" /></a>
                        <div class="john">Đồng Hồ John Galliano<br />
                        <p class="giaban2">Giá bán:<a class="tienao">14,250,000</a><br /></p>
                        <p class="giaban1"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
            
                          </div>
              </div>  
    </div>




