@{
    ViewBag.Title = "giohang";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="gh">
      <div class="tc1">
          <img src="~/Images/nha.png" class="nha2" />
          <div class="duongdantrangchu">Trang Chủ</div>
          <img src="~/Images/muiten.png" class="muiten" />
          <div class="giohang"><strong>Giỏ hàng</strong></div>
       </div>
    <div class="gh1"><strong>GIỎ HÀNG</strong></div>
     <button class="gh2"><strong>Quay lại mua hàng</strong></button>
   <button class="gh3"><strong>Thanh toán</strong></button>
    <div>
        <table class="gh40">
        <table class="gh4" border="1">
            <tr class="gh41">
                <td class="gh42"><strong>Sản phẩm</strong></td>
                <td><strong>Kích thước</strong></td>
                <td><strong>Số lượng</strong></td>
                <td><strong>Giá bán</strong></td>
                <td><strong>Thành tiền</strong></td>
                <td><strong>Bỏ sản phẩm</strong></td>
            </tr>
            <tr class="gh43">
                <td >
                     <img src="~/Images/a51.png" class="a51" />
                    <div class="gh431">
                        Áo Sơ Mi Nam Love Moschico<br />
                        <strong>Mã sản phẩm:  </strong> 1SM48001BW<br />
                        <strong>Màu sắc:  </strong> Trắng
                    </div>
                </td>
                <td><strong>XL</strong></td>
                <td>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </td>
                <td><strong>14.520.000</strong></td>
                <td><strong>14.520.000</strong></td>
                <td>
                <img src="~/Images/dautich.png" class="dautich" />
                </td>
            </tr>
                       <tr class="gh43">
                <td >
                     <img src="~/Images/a52.png" class="a52" />
                    <div class="gh431">
                        Áo Sơ Mi Nam Love Moschico<br />
                        <strong>Mã sản phẩm:  </strong> 1SM48001BW<br />
                        <strong>Màu sắc:  </strong> Xanh-Trắng
                    </div>
                </td>
                <td><strong>XL</strong></td>
                <td>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </td>
                <td class="gh432"><strong>14.520.000</strong></td>
                <td class="gh433"><strong>14.520.000</strong></td>
                <td>
                <img src="~/Images/dautich.png" class="dautich" />
                </td>
            </tr>
                      <tr class="gh43">
                <td >
                     <img src="~/Images/a53.png" class="a53" />
                    <div class="gh431">
                        Áo Sơ Mi Nam Love Moschico<br />
                        <strong>Mã sản phẩm:  </strong> 1SM48001BW<br />
                        <strong>Màu sắc:  </strong> Đen
                    </div>
                </td>
                <td><strong>XL</strong></td>
                <td>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </td>
                <td><strong>14.520.000</strong></td>
                <td><strong>14.520.000</strong></td>
                <td>
                <img src="~/Images/dautich.png" class="dautich" />
                </td>
            </tr>
            <table class="gh5" border="1">
             <tr class="gh44">
                <td class="gh51"></td>
               <td class="gh52"> <strong>Số tiền:</strong></td>
                <td class="gh53"><strong>49.555.774</strong></td>
                  <td></td>
            </tr>
              <tr class="gh44">
                <td></td>
               <td> <strong>Phí vận chuyển:</strong></td>
                <td><strong>49.555.774</strong></td>
                  <td></td>
            </tr>
              <tr class="gh44">
                <td></td>
               <td> <strong>Tổng số tiền:</strong></td>
                <td><strong>49.555.774</strong></td>
                  <td></td>
            </tr>
        </table>
   </table>
 </table>
    </div>
     <button class="gh2"><strong>Quay lại mua hàng</strong></button>
   <button class="gh3"><strong>Thanh toán</strong></button>
</div>
