@{
    ViewBag.Title = "Quangcao";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/Content/Style.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/JavaScript1.js"></script>
<div class="neoslideshow">
  <img src="~/Images/a1.png" class="a1" />
  <img src="~/Images/abia1.jpg" class="a1" />
  <img src="~/Images/abia2.jpg" class="a1" />
  <img src="~/Images/abia3.jpg" class="a1" />
</div>
<a href="/a/Sanphamnam"><img src="~/Images/a2.png" class="a2" /></a>
<a href="/a/Sanphamnu"><img src="~/Images/a3.png" class="a3" /></a>
<a href="/a/Sanphamnam"><img src="~/Images/a4.png" class="a4" /></a>
<a href="/a/Sanphamnu"><img src="~/Images/a5.png" class="a5" /></a>
<a href="/a/Sanphamnam"><img src="~/Images/a6.png" class="a6" /></a>
<a href="/a/Sanphamnu"><img src="~/Images/a7.png" class="a7" /></a>
<a href="/a/Sanphamnam"><img src="~/Images/a8.png" class="a8" /></a>


