@{
    ViewBag.Title = "quanao";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link href="~/Content/Style.css" rel="stylesheet" />
<div class="qa">
      <div class="qa1">
          <img src="~/Images/nha.png" class="nha1" />
          <div class="duongdantrangchu">Trang Chủ</div>
          <img src="~/Images/muiten.png" class="muiten" />
          <div class="duongdanspn1">Sản Phẩm Nam</div>
          <img src="~/Images/muiten.png" class="muiten" />
           <div class="quanao"><strong>Quần áo</strong></div>
      </div>
    <div class="qa2">
                  <img src="~/Images/a21.png" class="a21" />
    </div>
    <div class="qa3">
         <div class="le1">
              <div class="loctheo"><strong>LỌC THEO:</strong></div>
              <div>    
                  <img src="~/Images/huanchuong.png" class="huanchuong" />
                   <div class="thuonghieu"><strong>Thương hiệu</strong></div>
              </div>
            <div class="loctheo1">
                  <ul>
                      <li><input type="checkbox" class="checkbox"/><a>Dolce&Gabbana</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Giavito Rossi</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Blumarine</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Roberto Cavanlli</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Rene Caovilla</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Tom Ford</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Yves Saint Laurent</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Tiffany & Co</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Dsquared</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Christian Dior</a></li>

                   </ul>
              </div>
              <div>    
                  <img src="~/Images/xoay.png" class="xoay" />
                   <div class="kichthuoc"><strong>Kích thước</strong></div>
              </div>
              <div class="kichthuoc1">
                  <ul>
                       <li><input type="checkbox" class="checkbox"/><a>XS</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>M</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>XL</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>XXXL</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>XXL</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>S</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>L</a></li>
                   </ul>
              </div>
              <div>    
                  <img src="~/Images/bieutuongmau.png" class="bieutuongmau" />
                   <div class="mausac"><strong>Màu sắc</strong></div>
              </div>
              <div class="mausac1">
                  <ul>
                       <li><input type="checkbox" class="checkbox"/><a>Màu đen</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Màu nâu</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Màu xám</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Màu xanh</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Màu cam</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Màu tự nhiên</a></li>
                   </ul>
              </div>
          </div>        <div class="qa4">
            <div class="qa5">
                <div class="chon"><strong>Chọn:</strong></div>
                <select class="select">
                    <option> Chọn theo giá từ thấp đến cao </option> 
                    <option> Chọn theo cỡ từ thấp đến cao </option> 
                    </select>
                <div class="xem"><a href="#" class="mot">Xem</a> <a href="#" class="mot">20</a> <a href="#" class="mot">40</a></div>
                <div class="gachdung">|</div>
                <div class="hienthi"><a href="#" class="mot">Hiển thị tất cả</a></div>
                <div class="trang">Trang {<a href="#" class="mot">1</a>} <a href="#" class="mot">2</a> <a href="#" class="mot">3</a> <a href="#" class="mot">4</a> <a href="#" class="mot">5</a> <a href="#" class="mot">Tiếp theo</a></div>
            </div>
            <div class="qa6">
                    <div class="qa61">
                 <a href="/a/chitietanh1"><img src="~/Images/a31.png" /></a>
                     
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>
                        <div class="clear"></div>                    
                     </div>

                   <div class="qa61">
                            <a href="#"><img src="~/Images/a32.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>
                       <div class="clear"></div>                    
                     </div>
                <div class="qa61">
                            <a href="#"><img src="~/Images/a33.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div> 
                    <div class="clear"></div>                   
                     </div>
                   <div class="qa61">
                            <a href="#"><img src="~/Images/a34.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>   
                       <div class="clear"></div>                 
                     </div>
                <div class="qa61">
                           <a href="#"><img src="~/Images/a35.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>
                         <div class="clear"></div>                    
                     </div><div class="qa61">
                            <a href="#"><img src="~/Images/a36.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>                    
                     </div><div class="qa61">
                            <a href="#"><img src="~/Images/a37.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>                    
                     </div><div class="qa61">
                            <a href="#"><img src="~/Images/a38.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>                    
                     </div><div class="qa61">
                            <a href="#"><img src="~/Images/a39.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>                    
                     </div>
                     <div class="qa61">
                            <a href="#"><img src="~/Images/a391.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>                    
                      </div>     
                     <div class="qa61">
                            <a href="#"><img src="~/Images/a392.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>                    
                      </div>       
                      <div class="qa61">
                       <a href="#"><img src="~/Images/a393.png" /></a>
                        <div class="aosomi">Áo Sơ Mi Nam Gucci<br />
                            Giá bán:<a class="tienao">14,250,000</a><br />
                            <p class="giaban"> Giá bán:<a class="tienao1">15,000,000</a><br /></p>
                         </div>                    
                      </div>                     
               </div>
             <div class="qa5">
                <div class="chon"><strong>Chọn:</strong></div>
                <select class="select">
                    <option> Chọn theo giá từ thấp đến cao </option> 
                    <option> Chọn theo cỡ từ thấp đến cao </option> 
                    </select>
                <div class="xem"><a href="#" class="mot">Xem</a> <a href="#" class="mot">20</a> <a href="#" class="mot">40</a></div>
                <div class="gachdung">|</div>
                <div class="hienthi"><a href="#" class="mot">Hiển thị tất cả</a></div>
                <div class="trang">Trang {<a href="#" class="mot">1</a>} <a href="#" class="mot">2</a> <a href="#" class="mot">3</a> <a href="#" class="mot">4</a> <a href="#" class="mot">5</a> <a href="#" class="mot">Tiếp theo</a></div>
            </div>
            </div>
        </div>
    </div>

