@{
    ViewBag.Title = "Sanphamnu";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="spn">
      <div class="spn1">
          <img src="~/Images/nha.png" class="nha" />
          <div class="duongdantrangchu">Trang Chủ</div>
          <img src="~/Images/muiten.png" class="muiten" />
          <div class="duongdanspn"><strong>Sản Phẩm Nữ</strong></div>
      </div>
      <div class="spn2">
          <div class="le">
              <div class="danhmuc"><strong>DANH MỤC</strong></div>
              <div class="danhmuc1">
                   <ul>
                                   <li><a href="/a/quanaonu">Quần áo</a></li>
                       <li><a href="/a/Phukien">Phụ kiện</a></li>
                       <li><a href="/a/Phukien">Giày dép</a></li>
                       <li><a href="/a/Phukien">Mắt kính</a></li>
                       <li><a href="/a/Tuixach">Đồng hồ</a></li>
                       <li><a href="/a/Tuixach">Trang sức</a></li>
                       <li><a href="/a/Tuixach">Túi xách</a></li>
                       <li><a href="/a/Tuixach">Nước hoa</a></li>
                       <li><a href="/a/Tuixach">Ví bóp</a></li>
                   </ul>
              </div>
              <div class="loctheo"><strong>LỌC THEO:</strong></div>
              <div>    
                  <img src="~/Images/huanchuong.png" class="huanchuong" />
                   <div class="thuonghieu"><strong>Thương hiệu</strong></div>
              </div>
              <div class="loctheo1">
                  <ul>
                       <li><input type="checkbox" class="checkbox"/><a>Dolce&Gabbana</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Giavito Rossi</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Blumarine</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Roberto Cavanlli</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Rene Caovilla</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Tom Ford</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Yves Saint Laurent</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Tiffany & Co</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Dsquared</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Christian Dior</a></li>

                   </ul>
              </div>
              <div>    
                  <img src="~/Images/xoay.png" class="xoay" />
                   <div class="kichthuoc"><strong>Kích thước</strong></div>
              </div>
              <div class="kichthuoc1">
                  <ul>
                        <li><input type="checkbox" class="checkbox"/><a>XS</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>M</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>XL</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>XXXL</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>XXL</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>S</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>L</a></li>
                   </ul>
              </div>
              <div>    
                  <img src="~/Images/bieutuongmau.png" class="bieutuongmau" />
                   <div class="mausac"><strong>Màu sắc</strong></div>
              </div>
              <div class="mausac1">
                  <ul>
                        <li><input type="checkbox" class="checkbox"/><a>Màu đen</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Màu nâu</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Màu xám</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Màu xanh</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Màu cam</a></li>
                       <li><input type="checkbox" class="checkbox"/><a>Màu tự nhiên</a></li>
                   </ul>
              </div>
          </div>
          <div class="anhspn">
                        <a href="/a/quanaonu"><img src="~/Images/aspn1.png" class="a11" /></a>
                        <a href="/a/quanaonu"><img src="~/Images/aspn2.png" class="a12" /></a>
                        <a href="/a/quanaonu"><img src="~/Images/aspn3.png" class="a13" /></a>
                        <a href="/a/quanaonu"><img src="~/Images/aspn4.png" class="a14" /></a>
                        <a href="/a/quanaonu"><img src="~/Images/aspn5.png" class="a15" /></a>
          </div>
      </div>

</div>
