@{
    ViewBag.Title = "thanhtoan";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="tt">
      <div class="tc1">
          <img src="~/Images/nha.png" class="nha2" />
          <div class="duongdantrangchu">Trang Chủ</div>
          <img src="~/Images/muiten.png" class="muiten" />
          <div class="phuongthucthanhtoan"><strong>Phương thức thanh toán</strong></div>
       </div>
    <div class="tt1"><strong>CÁC BƯỚC THANH TOÁN</strong></div>
    <div class="tt2">
    <a href="/a/thanhtoan" class="tt21">Bước 1: Đăng kí và đăng nhập</a>   
    <a href="/a/xacnhanthongtin" class="tt22">Bước 2: Xác nhận thông tin</a>   
    <a href="/a/xacnhanthongtin" class="tt23">Bước 3: Hoàn tất thanh toán</a>   
    </div>
    <div class="tt3"><strong>ĐĂNG KÍ VÀ ĐĂNG NHẬP</strong></div>
    <div class="tt4">
        <div class="tt41"><strong>KHÁCH HÀNG ĐÃ ĐĂNG KÍ</strong></div>
        <div class="tt42">Hãy đăng nhập bằng cách sử dụng email và mật khẩu của bạn.<br />
            Các trường hợp bắt buộc được đánh dấu<a class="dausao">*</a>
        </div>
        <div class="tt43"><strong>Địa chỉ Email:</strong><a class="dausao">*</a></div>
        <input type="text" class="tt44" />
        <div class="tt45"><strong>Mật khẩu:</strong><a class="dausao">*</a></div>
        <input type="password" class="tt46" />
        <button class="tt47"><strong>Đăng nhập</strong></button>
          <a href="#" class="tt52">Bạn quyên mật khẩu?</a>
    </div>

    <div class="tt5">
                <div class="tt41"><strong>KHÁCH HÀNG ĐĂNG KÍ MỚI</strong></div>
        <div class="tt42">Nếu bạn chưa bao giờ mua của chúng tôi trước,tạo một tài khoản để thực hiện<br />
            mua sắm với chúng tôi dễ dàng hơn.
        </div>
          <button class="tt51"><strong>Đăng ký</strong></button>
    </div>
 </div>