@{
    ViewBag.Title = "Trangchu";
}
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="tc">
      <div class="tc1">
          <img src="~/Images/nha.png" class="nha2" />
          <div class="duongdantrangchu">Trang Chủ</div>
          <img src="~/Images/muiten.png" class="muiten" />
          <div class="gioithieu"><strong>Giới thiệu</strong></div>
       </div>
    <div class="letrangchu">
        <div class="danhmuc2"><a class="danhmuc3"><strong>DANH MỤC</strong></a></div>
        <div class="danhmuc4">
                   <ul>
                       <li><a href="#">Giới thiệu</a></li>
                       <li><a href="/a/giohang">Hướng dẫn mua hàng</a></li>
                       <li><a href="/a/thanhtoan">Hướng dẫn thanh toán</a></li>
                       <li><a href="#">Điều khoản cá nhân</a></li>
                       <li><a href="#">Liên hệ</a></li>
                     
                   </ul>
          </div>
    </div>
    <div class="gioithieu1"><strong>GIỚI THIỆU</strong></div>
    <img src="~/Images/a01.png" class="a01" />
    <div class="sumenh"><strong>SỨ MỆNH</strong></div>
    <div class="chitietsumenh" style="line-height:18px">Tại Milanogoods.com chúng tôi tập trung hoàn thiện dịch vụ chăm sóc khách hàng và cung cấp cho khách hàng một trải nghiệm mua sắm<br />
        tiện lợi-nhanh chóng-uy tín.
    </div>
    <div class="soluoc"><strong>SƠ LƯỢC VỀ MILANOGOODS</strong></div>
    <div class="chitietsoluoc" style="line-height:18px">Được thành lập vào năm 2009,Milanogoods.com là trang web bán hàng trực tuyến duy nhất và hợp pháp thuộc cửa hàng thời trang Milano Việt<br />
        Nam.Với mong muốn đem thời trang hàng hiệu đến tất cả khách hàng trên khắp Việt Nam,Milanogoods.com được ra đời để khách hàng trên<br />
        toàn quốc có thể dễ dàng mua sắm bất cứ nơi đâu chỉ với vài thao tác đơn giản.Tất cả các sản phẩm đang bán tại cửa hàng Milono Việt Nam đều<br />
        được đăng trên mạng Milanogoods.com theo đúng mùa Xuân/Hè hoặc Thu/Đông và luôn được cập nhật theo xu hướng thời trang hiện hành.
    </div>
    <div class="soluoc1"><strong>SƠ LƯỢC VỀ MILANOGOODS VIỆT NAM</strong></div>
    <div class="chitietsoluoc1" style="line-height:18px"> Cửa hàng Milano Việt Nam khai trương vào tháng 1/1996, là nơi đầu tiên cung cấp thời trang hàng hiệu tại Sài Gòn và thậm chí là của cả Việt<br />
        Nam.Từ năm 2000 đến nay cửa hàng Milano được tọa lạc trên con đường Đồng Khởi nổi tiếng.Đây cũng là địa điểm sang trọng hàng đầu tại<br />
        khu vực trung tâm,với những cửa hàng thời trang và những câu lạc bộ văn hóa độc đáo của thành phố.Từ khi thành lập đến nay,Milano<br />
        ngày càng lớn mạnh và phát triển,cửa hàng chúng tôi giới thiệu hơn 11 nhãn hiệu nổi tiếng nhất trên thế giới trong thời gian qua như<br />
        Dolce$Gabbana,D$G,Roberto Cavalli,Dsquared2,Blumarine,Blugirl,Moschino,Janeke,Toywatch và thương hiệu hàng đầu trên thế giới Gucci.  
    </div>
 </div>