@{
    ViewBag.Title = "xacnhanthongtin";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="xn">
      <div class="tc1">
          <img src="~/Images/nha.png" class="nha2" />
          <div class="duongdantrangchu">Trang Chủ</div>
          <img src="~/Images/muiten.png" class="muiten" />
          <div class="phuongthucthanhtoan"><strong>Phương thức thanh toán</strong></div>
       </div>
     <div class="xn1"><strong>XÁC NHẬN THÔNG TIN</strong></div>
    <div class="xn2">
           <div class="xn21"><strong>THÔNG TIN KHÁCH HÀNG</strong></div>
           <div class="tt42">Nếu bạn chưa bao giờ mua của chúng tôi trước,tạo một tài khoản để thực hiện<br />
            mua sắm với chúng tôi dễ dàng hơn.
           </div>
           <div class="xn22"><strong>Quý danh:</strong></div>
           <select class="xn23">
               <option>Quý cô</option>
               <option>Quý ông</option>
           </select>
           <div class="xn24"><strong>Họ và tên:</strong><a class="dausao">*</a></div>
           <input type="text" class="xn25" />
           <div class="xn26"><strong>Ngày sinh:</strong><a class="dausao">*</a></div>
                <select class="xn27">
               <option>Ngày</option>
               <option>1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
               <option>6</option>
               <option>7</option>
               <option>8</option>
               <option>9</option>
               <option>10</option>
               <option>11</option>
               <option>12</option>
               <option>13</option>
               <option>14</option>
               <option>15</option>
               <option>16</option>
               <option>17</option>
               <option>18</option>
               <option>19</option>
               <option>20</option>
               <option>21</option>
               <option>22</option>
               <option>23</option>
               <option>24</option>
               <option>25</option>
               <option>26</option>
               <option>27</option>
               <option>28</option>
               <option>29</option>
               <option>30</option>
               <option>31</option>


           </select>
           <select class="xn27">
               <option>Tháng</option>
               <option>Tháng 1</option>
               <option>Tháng 2</option>
               <option>Tháng 3</option>
               <option>Tháng 4</option>
               <option>Tháng 5</option>
               <option>Tháng 6</option>
               <option>Tháng 7</option>
               <option>Tháng 8</option>
               <option>Tháng 9</option>
               <option>Tháng 10</option>
               <option>Tháng 11</option>
               <option>Tháng 12</option>

           </select>
                   <select class="xn27">
               <option>Năm</option>
               <option>1990</option>
               <option>1991</option>
               <option>1992</option>
               <option>1993</option>
               <option>1994</option>
               <option>1995</option>
               <option>1996</option>
               <option>1997</option>
               <option>1998</option>
               <option>1999</option>
               <option>2000</option>
               <option>2001</option>

           </select>
           <div class="xn28"><strong>Địa chỉ:</strong><a class="dausao">*</a></div>
           <input type="text" class="xn25" />
            <div class="xn29"><strong>Tỉnh/Thành phố:</strong><a class="dausao">*</a></div>
           <input type="text" class="xn25" />
            <div class="xn291"><strong>Số điện thoại:</strong><a class="dausao">*</a></div>
           <input type="text" class="xn25" />
            <div class="xn292"><strong>Địa chỉ Email:</strong><a class="dausao">*</a></div>
           <input type="text" class="xn25" />
    </div>
    <div class="xn3">
           <div class="xn31"><strong>THÔNG TIN NGƯỜI NHẬN HÀNG</strong></div>
           <div class="xn22"><strong>Quý danh:</strong></div>
           <select class="xn23">
               <option>Quý cô</option>
               <option>Quý ông</option>
           </select>
           <div class="xn24"><strong>Họ và tên:</strong><a class="dausao">*</a></div>
           <input type="text" class="xn25" />
           <div class="xn26"><strong>Ngày sinh:</strong><a class="dausao">*</a></div>
                <select class="xn27">
               <option>Ngày</option>
               <option>1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
               <option>6</option>
               <option>7</option>
               <option>8</option>
               <option>9</option>
               <option>10</option>
               <option>11</option>
               <option>12</option>
               <option>13</option>
               <option>14</option>
               <option>15</option>
               <option>16</option>
               <option>17</option>
               <option>18</option>
               <option>19</option>
               <option>20</option>
               <option>21</option>
               <option>22</option>
               <option>23</option>
               <option>24</option>
               <option>25</option>
               <option>26</option>
               <option>27</option>
               <option>28</option>
               <option>29</option>
               <option>30</option>
               <option>31</option>


           </select>
           <select class="xn27">
               <option>Tháng</option>
               <option>Tháng 1</option>
               <option>Tháng 2</option>
               <option>Tháng 3</option>
               <option>Tháng 4</option>
               <option>Tháng 5</option>
               <option>Tháng 6</option>
               <option>Tháng 7</option>
               <option>Tháng 8</option>
               <option>Tháng 9</option>
               <option>Tháng 10</option>
               <option>Tháng 11</option>
               <option>Tháng 12</option>

           </select>
                   <select class="xn27">
               <option>Năm</option>
               <option>1990</option>
               <option>1991</option>
               <option>1992</option>
               <option>1993</option>
               <option>1994</option>
               <option>1995</option>
               <option>1996</option>
               <option>1997</option>
               <option>1998</option>
               <option>1999</option>
               <option>2000</option>
               <option>2001</option>

           </select>
           <div class="xn28"><strong>Địa chỉ:</strong><a class="dausao">*</a></div>
           <input type="text" class="xn25" />
            <div class="xn29"><strong>Tỉnh/Thành phố:</strong><a class="dausao">*</a></div>
           <input type="text" class="xn25" />
            <div class="xn291"><strong>Số điện thoại:</strong><a class="dausao">*</a></div>
           <input type="text" class="xn25" />
            <div class="xn292"><strong>Địa chỉ Email:</strong><a class="dausao">*</a></div>
           <input type="text" class="xn25" />

    </div>
    <div class="xn4"><strong>HOÀN TẤT THANH TOÁN</strong></div>
    <div class="xn5">
        <button class="hoantat"><strong>Hoàn tất đặt hàng</strong></button>
        <div class="xn51">Nếu bạn không muốn thanh toán trực tuyến hãy đặt hàng để<br />
            gửi thông tin đến cho chúng tôi.
        </div>
    </div>
    <div class="xn6">
        <button class="thanhtoan1"><strong>Thanh toán trực tuyến</strong></button>
        <div class="xn61">Thanh toán trực tuyến nhận được những ưu đãi đặc biệt.</div>
    </div>
</div>