<!DOCTYPE html>
<link href="~/Content/Style.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="one">
         <div class="two">
            <div style="float:left"><a href="/a/Quangcao"><img src="~/Images/fashion.png" class="fashion" /></a></div>
              <div class="ovuongphandau">
                 <div class="trogiup"><strong>Trợ giúp:0989 868 999</strong></div>
                 <img src="~/Images/mi.png" class="mi" />
                 <img src="~/Images/vietnam.png" class="vietnam" />
                 <img src="~/Images/tui.png" class="tui" />
                 <div class="sotien"><a class="sanpham">Sản phẩm (</a><a class="nam">5</a><a class="tien">) số tiền:</a> <a class="banam">35.000.000</a></div>
                 <a href="/a/giohang" class="xemgiohang">Xem giỏ hàng</a>
                 <div class="thanhdoc">|</div>
                 <a href="/a/thanhtoan" class="thanhtoan">Thanh toán</a>
                 <input type="text" class="timkiem1" placeholder="Tìm kiếm sản phẩm" />
             </div>
         </div> 
      <div class="three">
             <div class="demospn">
                 <ul>
                       <li class="limenu licha"><div class="three1" ><a href="/a/Quangcao">TRANG CHỦ</a></div>
                           <div class="sub">
                               <div class="box">
                                   <p class="box0"><a href="/a/quanao"><strong>Quần áo</strong></a></p>
                                   <div class="box1">
                                   <p><a href="#">Áo sơ mi</a></p>
                                   <p><a href="#">Áo thun</a></p>
                                   <p><a href="#">Quần tây</a></p>
                                   <p><a href="#">Quần Jeans</a></p>
                                   <p><a href="#">Cà vạt & khăn</a></p>
                                   </div>
                                   <p><a href="#"><strong>Mắt kính</strong></a></p>
                                   <div class="box2">
                                   <p><a href="#">Kính Mắt</a></p>
                                   <p><a href="#">Kính thuốc</a></p>
                                       </div>
                               </div>
                               <div class="box">
                                   <p class="box0"><a href="#"><strong>Giày dép</strong></a></p>
                                   <div class="box3">
                                   <p><a href="#">Giày văn phòng</a></p>
                                   <p><a href="#">Giày xỏ</a></p>
                                   <p><a href="#">Giày thể thao</a></p>
                                   <p><a href="#">Dép/Sandal</a></p>
                                   <p><a href="#">Giày trẻ em</a></p>
                                   </div>
                                   <p><a href="#"><strong>Trang sức</strong></a></p>
                                   <div class="box4">
                                   <p><a href="#">Dây chuyền</a></p>
                                   <p><a href="#">Vòng đeo tay</a></p>
                                   </div>
              </div>
                                 <div class="box">
                                   <p class="box0"><a href="#"><strong>Phụ kiện</strong></a></p>
                                   <div class="box5">
                                   <p><a href="#">Nón</a></p>
                                   <p><a href="#">Móc khóa</a></p>
                                   <p><a href="#">Phụ kiện Nữ</a></p>
                                   <p><a href="#">Phụ kiện Nam</a></p>
                                   </div>
                                   <p><a href="#"><strong>Nước Hoa</strong></a></p>
                                   <div class="box6">
                                   <p><a href="#">Nước Hoa Nam</a></p>
                                   <p><a href="#">Nước Hoa Dolce</a></p>
                                   </div>
              </div>
                           </div>
                       </li>
                       <li class="limenu licha"><div class="three2" ><a href="/a/Sanphamnam">SẢN PHẨM NAM</a></div>
                           <div class="sub">
                               <div class="box">
                                   <p class="box0"><a href="/a/quanao"><strong>Quần áo</strong></a></p>
                                   <div class="box1">
                                   <p><a href="#">Áo sơ mi</a></p>
                                   <p><a href="#">Áo thun</a></p>
                                   <p><a href="#">Quần tây</a></p>
                                   <p><a href="#">Quần Jeans</a></p>
                                   <p><a href="#">Cà vạt & khăn</a></p>
                                   </div>
                                   <p><a href="#"><strong>Mắt kính</strong></a></p>
                                   <div class="box2">
                                   <p><a href="#">Kính Mắt</a></p>
                                   <p><a href="#">Kính thuốc</a></p>
                                       </div>
                               </div>
                               <div class="box">
                                   <p class="box0"><a href="#"><strong>Giày dép</strong></a></p>
                                   <div class="box3">
                                   <p><a href="#">Giày văn phòng</a></p>
                                   <p><a href="#">Giày xỏ</a></p>
                                   <p><a href="#">Giày thể thao</a></p>
                                   <p><a href="#">Dép/Sandal</a></p>
                                   <p><a href="#">Giày trẻ em</a></p>
                                   </div>
                                   <p><a href="#"><strong>Trang sức</strong></a></p>
                                   <div class="box4">
                                   <p><a href="#">Dây chuyền</a></p>
                                   <p><a href="#">Vòng đeo tay</a></p>
                                   </div>
              </div>
                                 <div class="box">
                                   <p class="box0"><a href="#"><strong>Phụ kiện</strong></a></p>
                                   <div class="box5">
                                   <p><a href="#">Nón</a></p>
                                   <p><a href="#">Móc khóa</a></p>
                                   <p><a href="#">Phụ kiện Nữ</a></p>
                                   <p><a href="#">Phụ kiện Nam</a></p>
                                   </div>
                                   <p><a href="#"><strong>Nước Hoa</strong></a></p>
                                   <div class="box6">
                                   <p><a href="#">Nước Hoa Nam</a></p>
                                   <p><a href="#">Nước Hoa Dolce</a></p>
                                   </div>
              </div>
                           </div>
                       </li>
                         
                        <li class="limenu licha"><div class="three3" ><a href="/a/Sanphamnu">SẢN PHẨM NỮ</a></div>
                             <div class="sub">
                               <div class="box">
                                   <p class="box0"><a href="/a/quanaonu"><strong>Quần áo</strong></a></p>
                                   <div class="box1">
                                   <p><a href="#">Áo sơ mi</a></p>
                                   <p><a href="#">Áo thun</a></p>
                                   <p><a href="#">Quần tây</a></p>
                                   <p><a href="#">Quần Jeans</a></p>
                                   <p><a href="#">Cà vạt & khăn</a></p>
                                   </div>
                                   <p><a href="#"><strong>Mắt kính</strong></a></p>
                                   <div class="box2">
                                   <p><a href="#">Kính Mắt</a></p>
                                   <p><a href="#">Kính thuốc</a></p>
                                       </div>
                               </div>
                               <div class="box">
                                   <p class="box0"><a href="#"><strong>Giày dép</strong></a></p>
                                   <div class="box3">
                                   <p><a href="#">Giày văn phòng</a></p>
                                   <p><a href="#">Giày xỏ</a></p>
                                   <p><a href="#">Giày thể thao</a></p>
                                   <p><a href="#">Dép/Sandal</a></p>
                                   <p><a href="#">Giày trẻ em</a></p>
                                   </div>
                                   <p><a href="#"><strong>Trang sức</strong></a></p>
                                   <div class="box4">
                                   <p><a href="#">Dây chuyền</a></p>
                                   <p><a href="#">Vòng đeo tay</a></p>
                                   </div>
              </div>
                                 <div class="box">
                                   <p class="box0"><a href="#"><strong>Phụ kiện</strong></a></p>
                                   <div class="box5">
                                   <p><a href="#">Nón</a></p>
                                   <p><a href="#">Móc khóa</a></p>
                                   <p><a href="#">Phụ kiện Nữ</a></p>
                                   <p><a href="#">Phụ kiện Nam</a></p>
                                   </div>
                                   <p><a href="#"><strong>Nước Hoa</strong></a></p>
                                   <div class="box6">
                                   <p><a href="#">Nước Hoa Nam</a></p>
                                   <p><a href="#">Nước Hoa Dolce</a></p>
                                   </div>
              </div>
                           </div>
                        </li>
                        <li class="limenu licha"><div class="three4" ><a href="/a/Phukien">PHỤ KIỆN</a></div>
                             <div class="sub">
                               <div class="box">
                                   <p class="box0"><a href="#"><strong>Giày dép</strong></a></p>
                                   <div class="box3">
                                   <p><a href="#">Giày văn phòng</a></p>
                                   <p><a href="#">Giày xỏ</a></p>
                                   <p><a href="#">Giày thể thao</a></p>
                                   <p><a href="#">Dép/Sandal</a></p>
                                   <p><a href="#">Giày trẻ em</a></p>
                                   </div>
                                   <p><a href="#"><strong>Trang sức</strong></a></p>
                                   <div class="box4">
                                   <p><a href="#">Dây chuyền</a></p>
                                   <p><a href="#">Vòng đeo tay</a></p>
                                   </div>
              </div>
                                 <div class="box">
                                   <p class="box0"><a href="#"><strong>Phụ kiện</strong></a></p>
                                   <div class="box5">
                                   <p><a href="#">Nón</a></p>
                                   <p><a href="#">Móc khóa</a></p>
                                   <p><a href="#">Phụ kiện Nữ</a></p>
                                   <p><a href="#">Phụ kiện Nam</a></p>
                                   </div>
                                   <p><a href="#"><strong>Nước Hoa</strong></a></p>
                                   <div class="box6">
                                   <p><a href="#">Nước Hoa Nam</a></p>
                                   <p><a href="#">Nước Hoa Dolce</a></p>
                                   </div>
              </div>
                           </div>
                        </li>
                        <li class="limenu licha"><div class="three5" ><a href="/a/Tuixach">TÚI XÁCH</a></div>
                                      <div class="sub">
                                   <div class="box">
                                   <p class="box0"><a href="#"><strong>Túi xách</strong></a></p>
                                       <div class="box1">
                                   <p><a href="#">Túi Xách Nữ</a></p>
                                   <p><a href="#">Túi Xách Nam</a></p>
                                    <p><a href="#">Túi Xách Trẻ Em</a></p>
                                    <p><a href="#">Túi Xách Bán Nhiều Nhất</a></p>
                                       </div></div>
                                   <div class="box">
                                        <p class="box0"><a href="#"><strong>Sản Phẩm Khác</strong></a></p>
                                       <div class="box3">
                                   <p><a href="#">Cặp Sách Trẻ Em</a></p>
                                   <p><a href="#">Cặp Sách</a></p>
                               <p><a href="#">Ba Lô</a></p>
                        <p><a href="#">Va Li</a></p>
                                   </div></div>
                           </div>
                        </li>
                        <li class="limenu"><div class="three6" ><a href="/a/Thuonghieu">THƯƠNG HIỆU</a></div>
                            <div class="sub">
                                <div class="box" style="padding-left:0px;margin-left:0px;line-height:25px;">
                               <div class="box0" style="font-size:12px;">
                                   <div class="box" style="margin-bottom:12px;">
                                   <p><a href="#">Blumarine</a></p>
                                    <p><a href="#">Giavito Rossi</a></p>
                                   <p><a href="#">Christian Dior</a></p>
                                   <p><a href="#">Rene Caovilla</a></p>
                                        <p><a href="#">Dolce&Gabbana</a></p>
                                       </div>
                                   <div class="box">
                                   <p><a href="#">Yves Saint Laurent</a></p>
                                   <p><a href="#">Roberto Cavanlli</a></p>
                                    <p><a href="#">Tiffany & Co</a></p>
                                     <p><a href="#">Tom Ford</a></p>
                                     <p><a href="#">Dsquared</a></p>
                                        </div>
              </div></div>
                           </div>
                        </li>
                        <li class="limenu licha"><div class="three7" ><a href="#">HÀNG THU ĐÔNG</a></div>
                               <div class="sub">
                                <div class="box" style="width:152px;">
                               <div class="box0" style="font-size:13px;margin-bottom:12px;margin-left:10px;">
                                    <p><a href="#">Áo Len</a></p>         
                                   <p><a href="#">Áo Khoác</a></p>
                                   <p><a href="#">Quần Áo Gió</a></p>
                                    <p><a href="#">Quần áo Thu Đông</a></p>
              </div></div>
                           </div>
                        </li>
                        <li class="limenu licha"><div class="three8" ><a href="/a/Trangchu">GIỚI THIỆU</a></div>
                        </li>
                  </ul>   
         </div>
         </div>
         <div class="four">
             @RenderBody()
             <div style="clear:both"></div>
         </div>
         <div style="clear:both"></div>
         <div class="five">
             <p class="email">Đăng kí nhận bản tin từ chúng tôi </p>
             <p class="email1"> <strong>Địa chỉ Email của bạn:</strong></p>
             <input type="text" class="timkiem2" />  
             <button class="go">Go</button>
         </div>
         <div class="six">
              <div class="cot1">
                  <div class="chitiet1"><a href="#" style="text-decoration:none;color:#878787"><strong>Cửa hàng chúng tôi</strong><br />
                                             Miễn phí giao hàng tận nơi<br />
                                             Phối hợp linh hoạt<br />
                                             Miễn phí trả cước trực tuyến<br />
                                            Giới thiệu về chúng tôi<br />
                                             Trách nhiệm<br /></a>
                   </div>
              </div>
              <div class="cot2">
                   <div class="chitiet2"><a href="#" style="text-decoration:none;color:#878787"><strong>Đến với chúng tôi</strong><br />
                                               Trở thành một fan hâm mộ facebook<br />
                                              Theo chúng tôi trên Twitter<br />
                                               Việc làm<br />
                                               Burton blog<br />
                                              Báo chí<br /></a>
                    </div>
              </div>
              <div class="cot3">
                   <div class="chitiet3"><a href="#" style="text-decoration:none;color:#878787"><strong>Dịch vụ khách hàng</strong><br />
                                            Liên hệ với chúng tôi<br />
                                                Phí giao hàng<br />
                                                Trợ giúp<br />
                                                Khả năng tiếp cận<br />
                                                Sơ đồ web</a>
                   </div>
              </div>
              <div class="cot4">
                     <div class="chitiet4"><a href="#" style="text-decoration:none;color:#878787"><strong>Thông tin thêm</strong><br />
                                               Thẻ đăng nhập<br />
                                                   10% cho sinh viên<br />
                                                   Hướng dẫn kích thước<br />
                                                   Thẻ quà tặng<br />
                                                   Đại lý</a>
                                               
                      </div> 
             </div>
             <div class="cot5">
                 <div class="chitiet5"><a href="#" style="text-decoration:none;color:#878787"><strong>Hiểu thêm về chúng tôi</strong><br />
                                           Tuyển dụng<br />
                                               Chiến lược phát triển<br />
                                               Hướng dẫn mua hàng<br />
                                               bí quyết thu hút khách<br />
                                               Giải pháp nâng cao doanh thu</a>
                                           
                    </div>
             </div>
      </div>
            <div class="seven">
                <p class="ketthuc">Copyright © 2009 2010.....All right reserved</p>
            </div>
    </div>
</body>
</html>
